<a href="https://colab.research.google.com/github/JIMINlx/7030Business-Statistics-with-Python/blob/main/02_PythonDataStructure_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  02_PythonDataStructure

# 1. Lists

## 1.1 Creating a list

### 1.1.1 Using square brackets

In [ ]:
#List is a compound data type.
print([1,'2',True])
print(type([1,'2',True]))
print(['abc', 2.0, 5, [10, 20]])
type(['abc', 2.0, 5, [10, 20]])

In [3]:
#Assign list values to variable
cheeses = ['Cheddar', 'Edam', 'Gouda']
number = [17, 123]
empty = []
print(cheeses, number, empty)

#check the type of empty
type(empty)

['Cheddar', 'Edam', 'Gouda'] [17, 123] []

list

### 1.1.2 List operation

In [1]:
list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 3, 4, 5]

print(list1 + list2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list1 ** 2      #string cannot **

## 1.2 Subsetting a list

### 1.2.1 Indexing

In [4]:
#Print the first element in the list cheeses
print(cheeses[0])

Cheddar

In [8]:
#Print the first element in the list 'number'

In [7]:
#Print the second element in the list number
print(number[1])

123

In [10]:
#Print the third element in the list number?
print(number[2])

IndexError: list index out of range

In [9]:
#Print the last element in the list number
print(number[-1])

123

In [11]:
#Check whether Edam in the list cheeses
'Edam' in cheeses

True

In [12]:
#Check whether Brie in the list cheeses
'Brie' in cheeses

False

### 1.2.2 Slicing

In [13]:
#Slicing *creates* a subset of list
#print the second and third elements in the list
t = ['a', 'b', 'c', 'd', 'e', 'f']
print(t[1:3])

['b', 'c']

In [14]:
#The original list does not change
print(t)

['a', 'b', 'c', 'd', 'e', 'f']

In [15]:
#If you omit the first index, the slice starts at the beginning.
#The index after the colon is exclusive
#Print the first 4 elements of list t
print(t[:4])

['a', 'b', 'c', 'd']

In [16]:
#If you omit the second, the slice goes to the end.
#The index before the colon is inclusive
#Print the last 3 elements of list t
print(t[3:])

['d', 'e', 'f']

In [17]:
#If you omit both, the slice is a copy of the whole list.
print(t[:])

['a', 'b', 'c', 'd', 'e', 'f']

## 1.3 Manipulating a list

### 1.3.1 List manipulation basics

In [18]:
#Using index to modify element in a list
numbers = [17, 123]
numbers[1] = 5
print(numbers)

[17, 5]

In [19]:
#Using slicing to modify elements in a list
#Using 'x' and 'y' to replace 'b' and 'c'
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
print(t)

['a', 'x', 'y', 'd', 'e', 'f']

In [20]:
#Adding elements to a list using the addition operator
a = [1, 2, 3]
b = [4, 5, 6]
a = a + b
print(a)

[1, 2, 3, 4, 5, 6]

In [21]:
#Length of a list t
len(t)

6

In [ ]:
# the range() function
for i in range(5):
    print(i)

In [22]:
for i in range(2, 5):
    print(i)

2
3
4

In [ ]:
help(range)

In [23]:
#Updading ALL elements in a list using a for loop
numbers = [17,5]
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
print(numbers)

[34, 10]

In [24]:
#The range object
print(range(3))

range(0, 3)

In [27]:
#To convert the range object to a list
print(list(range(3)))

[0, 1, 2]

### 1.3.2 List methods

In [26]:
#Check the index of 'e' using index()
t = ['d', 'c', 'e', 'b', 'a']
t.index('e')

2

In [25]:
#Check the index of 'e' using index()
a = 'abcdefg'
a.index('e')

4

### 1.3.3 Manipulating a list using list methods

In [28]:
#Append 'd' to the end of the list t
t = ['a', 'b', 'c']
t.append('d')
print(t)

['a', 'b', 'c', 'd']

In [29]:
#Append all of the elements in t2 to t1
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print('t1: \n', t1)
# This example leaves t2 unmodified
print('t2: \n', t2)

t1:
 ['a', 'b', 'c', 'd', 'e']
t2:
 ['d', 'e']

In [ ]:
#Sort the list t in an alphabetical order
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

In [ ]:
# Sort the list b in a descending order
b = [1,8,3,6,10,2]
b.sort(reverse = True)
print(b)

In [ ]:
#The sort method sorts a list *in place*
#In other words, it does not return a new sorted list.
b = [1,8,3,6,10,2]
b.sort()
b_sorted = b.sort()
print('b1: \n', b)
print('b2: \n', b_sorted)

In [ ]:
#You could check the meaning of different methods on different types of objects using help().
help(str.strip)

In [ ]:
#NOT ALL methods modify the list *in place*. This could be tricky.
t1 = '    abc    d    '
t2 = t1.strip()
print(t1)
print(t2)

In [ ]:
#The original list is not modified
for char in t1:
    print(char)

In [ ]:
#Check the stripped list t
for char in t2:
    print(char)

In [ ]:
#store the removed element 'b' when you know its index
t = ['a', 'b', 'c', 'd', 'e', 'f']
x = t.pop(1)
print(t)
print(x)

In [ ]:
#Remove 'b' by using the remove method
t = ['a', 'b', 'c', 'd', 'e', 'f']
t.remove('b')
print(t)

## 1.4 Objects and values

In [ ]:
# Two different objects with the same value
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b)
print('id of a is', id(a))
print('id of b is', id(b))

In [ ]:
# The same object
a = [1, 2, 3]
b = a
a is b
print('id of a is',id(a))
print('id of b is',id(b))
print(id(a) == id(b))

In [ ]:
help(id)

In [ ]:
print(b)
b[1] = 'apple'
print(a)

In [ ]:
#To avoid aliasing an immutable object by creating a copy - 1
a = [1, 2, 3]
b = list(a)
print(id(a))
print(id(b))
b[1] = 'apple'
print(a,b)

In [ ]:
#To avoid aliasing an immutable object by creating a copy - 2
a = [1, 2, 3]
b = a[:]
print(id(a))
print(id(b))
b[1] = 'apple'
print(a,b)

In [ ]:
#Sting is an immutable object
a = 'hello'
b = a
b = 'world'

print('a:', a)
print('b:', b)

# 2. Set

In [ ]:
animals = {'cat', 'dog'}
# Check if an element is in a set
print('cat' in animals)
print('fish' in animals)

# 3. Dictionary

In [ ]:
#To find the Spanish of the English word 'two'
eng = ['one', 'two', 'three']
sp = ['uno', 'dos','tres']
Ind_2 = eng.index('two')
sp[Ind_2]

In [ ]:
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [ ]:
#Check the type of eng2sp
type(eng2sp)

In [ ]:
#input the key 'two', get the corresponding value
eng2sp['two']

In [ ]:
#Check whether 'one' is a key of eng2sp
'one' in eng2sp

In [ ]:
#Is 'uno' is a key?
'uno' in eng2sp

In [ ]:
# 'uno' is a value
'uno' in list(eng2sp.values())

In [ ]:
#length of a dictionary
len(eng2sp)

In [ ]:
print(eng2sp['four'])

In [ ]:
dict = {(1,2,3):3}
print(dict)

# 4. Tuples

In [ ]:
t = ('a', 'b', 'c', 'd', 'e' )
type(t)

In [ ]:
#Be careful ! comma at the end
t1 = ('a',)
print(t1)
print(type(t1))

In [ ]:
#Find the type of t2
t2 = ('a')
type(t2)

In [ ]:
#access the first element of tuple using index
t = tuple('abcde')
print(t[0])

In [ ]:
#access the second and third elements of t using slicing
print(t[1:3])

In [ ]:
#Tuple is immutable
t[0] = 'A'